<?xml version="1.0" encoding="UTF-8" ?>
<plugin id="cordova-plugin-scan" version="1.0.0">

    <name>ScanPlugin</name>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/ScanPlugin.js" name="ScanPlugin">
        <clobbers target="window.ScanPlugin" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ScanPlugin">
                <param name="ios-package" value="ScanPlugin" />
            </feature>
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
         <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
             <string>请允许访问您的相机</string>
         </config-file>
         
        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
			<string>请允许访问您的照片</string>
		</config-file>

        <!--引入插件调用类-->
        <header-file src="src/ios/ScanPlugin.h" />
        <source-file src="src/ios/ScanPlugin.m" />
        
        <!--引入第三方SDK-->
        <header-file src="libs/ios/Scan_VC.h" />
        <source-file src="libs/ios/Scan_VC.m" />
        <header-file src="libs/ios/UIView+SDExtension.h" />
        <source-file src="libs/ios/UIView+SDExtension.m" />
        <framework src="ImageIO.framework" weak="true" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AVFoundation.framework" />

        <!-- 图片资源 -->
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_flash_down@2x.png" />  
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_flash_nor@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_myqrcode_down@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_myqrcode_nor@2x.png" />  
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_photo_down@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_photo_nor@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_btn_scan_off@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_light_green@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_titlebar_back_nor@2x.png" />
        <resource-file src="libs/ios/Resources/qrcode_scan_titlebar_back_pressed@2x.png" />
        <resource-file src="libs/ios/Resources/scan_1@2x.png" />
        <resource-file src="libs/ios/Resources/scan_2@2x.png" />
        <resource-file src="libs/ios/Resources/scan_3@2x.png" />
        <resource-file src="libs/ios/Resources/scan_4@2x.png" />
        <resource-file src="libs/ios/Resources/scan_net@2x.png" />
        <resource-file src="libs/ios/Resources/scanimg@2x.png" />

    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScanPlugin" >
                <param name="android-package" value="cordova.plugin.scan.ScanPlugin.ScanPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:theme="@style/AppTheme"
                android:screenOrientation="portrait"
                android:name="cordova.plugin.scan.erweima.sweepcode.activity.ActivityScanerCode" />
            <application
                android:name="cordova.plugin.scan.app.ScCordovaApplication"
                android:hardwareAccelerated="true"
                android:icon="@mipmap/icon"
                android:label="@string/app_name"
                android:supportsRtl="true"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="android.permission.FLASHLIGHT"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-feature android:name="android.hardware.camera"/>
            <uses-feature android:name="android.hardware.camera.autofocus"/>
        </config-file>

        <!-- 插件调用类 -->
        <source-file src="src/android/ScanPlugin.java" target-dir="src/cordova/plugin/scan/ScanPlugin" />

        <!-- libs -->
        <lib-file src="libs/android/zxing_core_3.0.1.jar"/>
        <source-file src="libs/android/sweepcode/activity/ActivityBase.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/activity" />
        <source-file src="libs/android/sweepcode/activity/ActivityScanerCode.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/activity" />
        <source-file src="libs/android/sweepcode/handler/CaptureActivityHandler.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/handler" />
        <source-file src="libs/android/sweepcode/handler/DecodeHandler.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/handler" />
        <source-file src="libs/android/sweepcode/handler/DecodeThread.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/handler" />
        <source-file src="libs/android/sweepcode/handler/InactivityTimer.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/handler" />
        <source-file src="libs/android/sweepcode/listener/FinishListener.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/listener" />
        <source-file src="libs/android/sweepcode/listener/OnRxScanerListener.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/listener" />
        <source-file src="libs/android/sweepcode/listener/OnUpdateListener.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/listener" />
        <source-file src="libs/android/sweepcode/manager/AutoFocusCallback.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/manager" />
        <source-file src="libs/android/sweepcode/manager/CameraConfigurationManager.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/manager" />
        <source-file src="libs/android/sweepcode/manager/CameraManager.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/manager" />
        <source-file src="libs/android/sweepcode/manager/FlashlightManager.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/manager" />
        <source-file src="libs/android/sweepcode/manager/PreviewCallback.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/manager" />
        <source-file src="libs/android/sweepcode/tools/AnimationTool.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/BeepTool.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/BitmapLuminanceSource.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/ImageTool.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/PhotoTool.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/PlanarYUVLuminanceSource.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/QrBarTool.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/tools/VibrateTool.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/tools" />
        <source-file src="libs/android/sweepcode/app/ScCordovaApplication.java" target-dir="src/cordova/plugin/scan/erweima/sweepcode/app" />
        <source-file src="libs/android/res/drawable/capture.png" target-dir="res/drawable-port-hdpi" />
        <source-file src="libs/android/res/drawable/kakalib_scan_ray.png" target-dir="res/drawable-port-hdpi" />
        <source-file src="libs/android/res/drawable/s_img.png" target-dir="res/drawable-port-hdpi" />
        <source-file src="libs/android/res/drawable/s_left_jiantou.png" target-dir="res/drawable-port-hdpi" />
        <source-file src="libs/android/res/drawable/s_light.png" target-dir="res/drawable-port-hdpi" />
        <source-file src="libs/android/res/drawable/scan_mask.png" target-dir="res/drawable-port-hdpi" />
        <source-file src="libs/android/res/layout/activity_scaer_code_layout.xml" target-dir="res/layout" />
        <source-file src="libs/android/res/raw/beep.ogg" target-dir="res/raw" />
        <source-file src="libs/android/res/values/ids.xml" target-dir="res/values" />
        <source-file src="libs/android/res/values/colors.xml" target-dir="res/values" />
        <source-file src="libs/android/res/values/styles.xml" target-dir="res/values" />
    </platform>
    
</plugin>
